{% extends 'main/base.html' %}
{% load static %}


{% block menu %}
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'main/css/style_about.css' %}">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Martian+Mono:wght@100;200;300;400;500;600;700;800&display=swap" rel="stylesheet">
    <title>{{page}}</title>
{% endblock menu %}

{% block content %}
<!-- start main -->
<main>
    <div class="container">
        <h1>Title</h1>
        <div class="container_info">
            dfchgtrhbrtuytjchjfdsfjioja;doginh;aeorgbn;oearubgiyearbfiovebrvlihsdbvliubsaldvbhlisafedbg;lairejbnv;zdfjbhnpisreutnb;zdjfnb;sioreubh;djzfnb;ieufrbh
        </div>
    </div>
</main>
    
<!-- end section -->
{% endblock content %}