{% load static %}
<!DOCTYPE html>
<html lang="en">
{% block head %}
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'main/css/style_index.css' %}" type="text/css">
    <title>{{ page }}</title>
</head>
{% endblock head %}
<body>
    <div class="main">
    {% block menu %}
    <!-- Начало header block  -->
    <div class="header">
        <div class="logo_header">
            <a href="{% url 'home' %}"><img src="{% static 'main/images/logoMe.png' %}"></a>
        </div>
        {% for m in menu %}
        <div class="nav">
            <div class="nav_item">
                <a href="{% url m.url_name %}">{{m.title}}</a>
            </div>
        </div>
        {% endfor %}
        <div class="nav">
            <div class="nav_item">
                {% if request.user.is_authenticated %}
                <p>{{user.username}} | <a href="{% url 'logout' %}">Выйти</a></p>
                {% else %}
                <a href="{% url 'register' %}">Регистрация</a> | <a href="{% url 'login' %}">Войти</a>
                {% endif %}
            </div>
        </div>
    </div>
    <!-- Конец Header block -->
    {% endblock menu %}

    {% block content %}
    


    

    {% endblock content %}


        <nav class="list-pages">
            {% for p in paginator.page_range %}
            {% if page_obj.number == p %}
            <li class="page-num page-num-selected">{{ p }}</li>
            {% elif p >= page_obj.number|add:-2 and p <= page_obj.number|add:2  %}
            <li class="page-num">
                <a href="?page={{ p }}">{{ p }}</a>
            </li>
            {% endif %}
            {% endfor %}
        </nav>

    <!-- Начало footer block -->
    <div class="footer">

        <p class="footer_info">©2022 Subbotin Valentin prod.</p>

        <div class="navi">
            <div class="navi_link">
                <a href="#"><img src="{% static 'main/images/git.png' %}"></a>
            </div>
            <div class="navi_link">
                <a href="#"><img src="{% static 'main/images/vk.png' %}"></a>
            </div>
            <div class="navi_link">
                <a href="#"><img src="{% static 'main/images/viber.png' %}"></a>
            </div>
            <div class="navi_link">
                <a href="#"><img src="{% static 'main/images/telega.png' %}"></a>
            </div>
        </div>
    </div>
</div>
</body>
</html>