{% load static %}
<!DOCTYPE html>
<html lang="en">
{% block head %}
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'main/css/style_index.css' %}">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=East+Sea+Dokdo&display=swap" rel="stylesheet">
    <title>Главная</title>
</head>
{% endblock %}
<body>

<!-- start header -->
<header>
    <div class="container">
        <div class="container_header">
            <!-- <div class="container_logo">
                <a href="{% url 'home' %}"><img class="logo_image" src="{% static 'main/images/logoMe.png' %}" alt="no logo"></a>
            </div> -->
            <div class="container_nav">
                <p class="nav"><a href="{% url 'home' %}">Главная</a></p>
            </div>
            <div class="container_nav">
                <p class="nav"><a href="{% url 'projects' %}">Проекты</a></p>
            </div>
            <div class="container_nav">
                <p class="nav"><a href="{% url 'about' %}">Информация</a></p>
            </div>
        </div>
        <div class="container_account">
            {% if request.user.is_authenticated %}
            <img src="{% static 'main/images/account.png' %}" alt="">
            <p class="nav_account"><a href="{% url 'logout' %}">Выйти</a></p>
            {% else %} 
            <p class="nav_account"><a href="{% url 'register' %}">Регистрация</a></p>
            <p class="nav_account"><a href="{% url 'login' %}">Войти</a></p>
            {% endif %}
        </div>
    </div>
</header>
<!-- end header -->

{% block content %}





{% endblock %}

<!-- start footer -->
<footer>
    <div class="container_footer">
        <p>Subbotin Valentin 2022 info site project.</p>
        <div class="footer_src">
            <div class="nav">
                <a href="https://vk.com/valentinsubbotin"><img class="nav_logo" src="{% static 'main/images/vk (1).png' %}" alt=""></a>
            </div>
            <div class="nav">   
                <a href="https://t.me/SubbotinValentin"><img class="nav_logo" src="{% static 'main/images/telegram (1).png' %}" alt=""></a>
            </div>
            <div class="nav">
                <a href="https://github.com/SubbotinValentin"><img class="nav_logo" src="{% static 'main/images/github (1).png' %}" alt=""></a>
            </div>
        </div>
    </div>
</footer>
<!-- end footer -->
</body>
</html>