{% extends 'main/base.html' %}
{% load static %}

{% block content %}
<!-- Начало title block -->
<div class="title">
    <div class="title_text">
        <H1>Субботин Валентин Григорьевич</H1>
    </div>
    <div class="title_info">
        <p>Информация обо мне...
            Мужчина-Близнецы – новатор, революционер, 
            борец с серостью и предсказуемостью. 
            Он любит нестандартные ходы, неожиданные решения, 
            фантастические сюрпризы и яркие эмоции. 
            Пульс жизни Близнецов всегда на пределе, 
            при этом за внешней привлекательностью образа порой 
            скрывается сложная и противоречивая натура, не терпящая 
            ограничений, несвободы и малейшей рутины. 
            Даже самая привлекательная в физическом плане женщина заставит 
            Близнецов брезгливо отступить, если будет заподозрена 
            в консервативности, стремлении к обыденности и отсутствии глубины.
            Способность удивлять, быть разной и всесторонне развитой – вот ключи 
            к сердцу типичного мужчины-Близнецов.
            Больше всего на свете мужчина-Близнецы любит двусмысленные ситуации, 
            интеллектуальные споры, неровные и 
            сложные отношения – чтобы заинтересовать его, 
            лучше всего показать характер и готовность участвовать в играх.
            Женщина, не способная на интригующий флирт, приземленная и 
            бесконфликтная, не представляет для него интереса. 
            Среди Близнецов-мужчин много типичных Дон Жуанов, 
            которым интересно пообщаться с разными женщинами, узнать их, 
            коллекционировать, каждый раз добавляя что-то новое в свою копилку
            ощущений. Отвергая шаблоны, они выступают против ограничений. 
            Чтобы покорить такого мужчину, нужно отказаться от избитых фраз, 
            показать свой интеллект и нестандартное мышление. 
            Мужчины-Близнецы ценят в женщинах прежде всего мозги и чувство юмора.
            Мужчина-Близнецы – новатор, революционер, 
            борец с серостью и предсказуемостью. 
            Он любит нестандартные ходы, неожиданные решения, 
            фантастические сюрпризы и яркие эмоции. 
            Пульс жизни Близнецов всегда на пределе, 
            при этом за внешней привлекательностью образа порой 
            скрывается сложная и противоречивая натура, не терпящая 
            ограничений, несвободы и малейшей рутины.         
        </p>
    </div>
    <div class="title_image">
        <img src="{% static 'main/images/IMG-18.jpg' %}">
    </div>
</div>
<!-- Конец title block  -->

<!-- Начало Info block -->
<div class="content">
    <div class="content_title">
        <a href="#">About me</a>
    </div>
    <div class="content_info">
        <p>Python – это универсальный язык, который используется для реализации разных задач. 
            При желании его можно применять в разработке фронтенда, 
            но в большинстве случаев целесообразнее писать код для внешней (клиентской) 
            части программы на более подходящем языке, например, на JavaScript. 
            Поэтому можно сказать, что Python – это язык для backend-разработки, 
            поскольку он подходит именно для программирования на стороне сервера.
            Backend-разработчик на Python – это специалист, который разрабатывает 
            серверную (внутреннюю, скрытую) часть приложения, и отвечает за внутреннюю 
            архитектуру, логику и взаимодействие с базами данных. 
            Его главная цель – сделать так, чтобы сервисы понимали запросы, 
            а сайты правильно реагировали на действия пользователей. 
            Например, чтобы при нажатии кнопки товар добавлялся в корзину или заявка 
            уходила на рассмотрение..
        </p>
    </div>
</div>
<!-- Конец Info block -->

<!-- Начало Skill block -->
<div class="skills">

    <div class="skills_back">

        <p class="back_dev">Backend developer</p>

        <div class="back_python">
            <div class="back_image">
                <img src="{% static 'main/images/Python.png' %}">
            </div>
            <div class="back_title">
                <p>Python</p>
            </div>
            <div class="back_level">
                <img src="">
                <img src="">
                <img src="">
                <img src="">
                <img src="">
            </div>
        </div>

        <div class="back_django">
            <div class="back_image">
                <img src="{% static 'main/images/django.png' %}">
            </div>
            <div class="back_title">
                <p>Django</p>
            </div>
            <div class="back_level">
                <img src="">
                <img src="">
                <img src="">
                <img src="">
                <img src="">
            </div>
        </div>

    </div>

    <div class="skills_front">

        <p class="front_dev">Frontend developer</p>
        
        <div class="back_python">
            <div class="back_image">
                <img src="{% static 'main/images/Python.png' %}">
            </div>
            <div class="back_title">
                <p>Python</p>
            </div>
            <div class="back_level">
                <img src="">
                <img src="">
                <img src="">
                <img src="">
                <img src="">
            </div>
        </div>

        <div class="back_django">
            <div class="back_image">
                <img src="{% static 'main/images/django.png' %}">
            </div>
            <div class="back_title">
                <p>Django</p>
            </div>
            <div class="back_level">
                <img src="">
                <img src="">
                <img src="">
                <img src="">
                <img src="">
            </div>
        </div>
    </div>
    </div>
</div>
<!-- Конец skills block -->

{% endblock content %}