{% extends 'main/base.html' %}
{% load static %}

{% block head %}
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'main/css/style_index.css' %}">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Martian+Mono:wght@100;200;300;400;500;600;700;800&display=swap" rel="stylesheet">
    <title>Главная</title>
{% endblock %}

{% block content %}
<!-- start content -->
<main>
    <div class="container_main">
        <div class="main_title">
            <h1>Субботин Валентин Григорьевич</h1>
        </div>
        <div class="main_img">
            <img class="main_img_image" src="{% static 'main/images/DSC07660.jpg' %}" alt="no foto">
        </div>
        <div class="main_info">
            <div>
                <dl>
                    <dt>Возраст</dt>
                        <dd>
                            27 лет
                        </dd>
                    <dt>Пол</dt>
                        <dd>
                            Мужской
                        </dd>
                </dl>
            </div>            
        </div>
    </div>
</main>
<!-- end main -->

<!-- start section -->
<section>
    <div class="container_section">
        <div class="section_body">
            <img class="section_body_image" src="{% static 'main/images/Python.png' %}" alt="No foto">
            <div class="section_body_info">
                <h5>Card title</h5>
                <p>Some quick example text to build on the card title 
                    and make up the bulk of the card's content.</p>
                <a href="#" type="button" class="btn">Go somewhere</a>
            </div>
        </div>
        <div class="section_body">
            <img class="section_body_image" src="{% static 'main/images/Python.png' %}" alt="No foto">
            <div class="section_body_info">
                <h5>Card title</h5>
                <p>Some quick example text to build on the card title 
                    and make up the bulk of the card's content.</p>
                <a href="#" class="btn">Go somewhere</a>
            </div>
        </div>
        <div class="section_body">
            <img class="section_body_image" src="{% static 'main/images/Python.png' %}" alt="No foto">
            <div class="section_body_info">
                <h5>Card title</h5>
                <p>Some quick example text to build on the card title 
                    and make up the bulk of the card's content.</p>
                <a href="#" type="button" class="btn">Go somewhere</a>
            </div>
        </div>
        <div class="section_body">
            <img class="section_body_image" src="{% static 'main/images/Python.png' %}" alt="No foto">
            <div class="section_body_info">
                <h5>Card title</h5>
                <p>Some quick example text to build on the card title 
                    and make up the bulk of the card's content.</p>
                <a href="#" type="button" class="btn">Go somewhere</a>
            </div>
        </div>
    </div>
</section>
<!-- end content -->
{% endblock %}