{% extends 'main/base.html' %}
{% load static %}

{% block head %}
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'main/css/style_index.css' %}">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Martian+Mono:wght@100;200;300;400;500;600;700;800&display=swap" rel="stylesheet">
    <title>{{ page }}</title>
{% endblock %}

{% block content %}
<!-- start content -->
<main>
    <div class="container_main">
        <div class="main_title">
            <h1>Субботин Валентин Григорьевич</h1>
        </div>
        <div class="main_img">
            <img class="main_img_image" src="{% static 'main/images/DSC07660.jpg' %}" alt="no foto">
        </div>
        <div class="main_info">
            <div class="main_info_head">
                <div class="main_info_date">
                    <h3>Дата и Место рождения: </h3>
                    <p> Родился 13 июня 1995 года.</p>
                    <p> Проживаю город Пермь, Пермский край, Россия.</p>
                    </div>
                <div class="main_info_contact">
                    <h3>Контакты: </h3>
                    <p>Мой номер: 8-922-35-31-000</p>
                    <p>Мой e-mail: subbotinvalentin99@gmail.com</p>
                </div>
                <div class="main_info_me">
                    <h3>Личная информация: </h3>
                    <p>Я изучаю язык программирования Python, хочу стать веб-разботчиком</p>
                </div>
            </div>  
        </div>
    </div>
</main>
<!-- end main -->

<!-- start content -->
<section>
    <div class="container_title">
        <div class="section_title">
            <h2>Информация о моих знаниях</h2>
        </div>
        <div class="container_section">
            {% for p_skill in posts_skill %}
            <div class="section_body">
                {% if p_skill.photo %}
                <img class="section_body_image" src="{{ p_skill.photo.url }}" alt="No foto">
                {% endif %}
                <div class="section_body_info">
                    <h3>{{ p_skill.title }}</h3>
                    <p>{{ p_skill.content }}</p>
                    <a href="{{ p_skill.get_absolute_url }}" type="button" class="btn">Читать все</a>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
</section>
<!-- end content -->
{% endblock %}