{% extends 'main/base.html' %}
{% load static %}

{% block head %}
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'main/css/style_post.css' %}">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Martian+Mono:wght@100;200;300;400;500;600;700;800&display=swap" rel="stylesheet">
    <title>{{page}}</title>
{% endblock %}

{% block content %}
<!-- start content -->
<main>
    
    <div class="container_post">
        <div class="post_title">
            <h1>{{post_skill.title}}</h1>
        </div>
        <div class="post_body">
            {% if post_skill.photo %}
            <img src="{{ post_skill.photo.url }}">
            {% endif %}
            <p>{{ post_skill.content }}</p>
        </div>

    </div>
</main>
<!-- end content -->
{% endblock %}
<!-- start content -->