{% extends 'main/base.html' %}
{% load static %}

{% block head %}
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'main/css/style_tasks.css' %}" type="text/css">
    <title>{{ page }}</title>
{% endblock head %}

{% block content %}
    <!-- card start -->
    {% for p in posts %}
    <div class="card1">
        <div class="card1_img">
            <img src="" alt="No foto">
        </div>
        <div class="card1_info">
            <p>Задачи по алгоритмам</p>
            <p>Незнаю что и придумать пока просто текста</p>
        </div>
    </div>

    {% endfor %}
    <!-- card end -->
{% endblock content %}