body, html {
    margin: 0;
    background-color: rgba(21,19,17,1);
    height: 100vh;
}

header {
    background-color: rgba(0,0,0,1);
}

main {
    background: linear-gradient(180deg, 
    rgba(0,0,0,1) 0%, 
    rgba(0,0,0,0) 50%, 
    rgba(21,19,17,1) 100%), 
    url(../images/golden-monstera-leaves-background-design-resource.jpg);
    background-size: cover;
    height: 100vh;
}

a {
    outline: none;
    text-decoration: none;
    color: #cb8e39;
}

a:hover {
    text-decoration: underline;
}

/* start header */
.container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.container_header {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    width: 1000px;
    height: 100px;
    padding: 0 40px;
}

.logo_image {
    position: relative;
    width: 100px;
    height: 100px;    
}

.container_nav {
    position: relative;
    padding: 0 40px;
    font-family: 'Martian Mono', monospace;

}

.nav {
    font-size: 15px;
    font-weight: 600;
    color: #cb8e39;
    text-decoration: none;
    text-transform: uppercase;
}

.container_account {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    width: 300px;
    height: 100px;
    padding-right: 20px;
}

.nav_account {
    font-size: 15px;
    font-weight: 600;
    color: #cb8e39;
    text-decoration: none;
    text-transform: uppercase;
    padding: 0 10px;
    font-family: 'Martian Mono', monospace;
}
/* end header */

/* start content */
.container_form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.container_form button {
    position: relative;
    margin-left: 235px;
    margin-top: 20px;
    width: 150px;
}

.form_header {
    position: relative;
    padding: 20px;
    color: #cb8e39;
}

.form_body {
    padding: 20px;
    color: #cb8e39;
}

.form_body label {
    display: inline-block;
    min-width: 70px;
}

.form_body input {
    width: 300px;
    font-size: 16px;
}
/* end content */

/* start footer */
.container_footer {
    display: flex;
    justify-content: space-between;
    padding-top: 50px;
    padding: 0 20px;
    color: #cb8e39;
}

.footer_src {
    display: flex;
    align-items: center;
}

.nav {
    padding: 0 10px;
}

.nav_logo {
    position: relative;
    width: 25px;
    height: 25px;
}
/* end footer */