body {
    margin: 0;
    background-color: #151311;
    height: 100vh;
}

header {
    background-color: black;
}

main {
    background: linear-gradient(180deg, 
    rgba(0,0,0,1) 0%, 
    rgba(0,0,0,0) 50%, 
    rgba(21,19,17,1) 100%), 
    url(../images/golden-monstera-leaves-background-design-resource.jpg);
    background-size: cover;
}

a {
    outline: none;
    text-decoration: none;
    color: #cb8e39;
}

a:hover {
    text-decoration: underline;
}

/* start header */
.container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.container_header {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    width: 1000px;
    height: 100px;
    padding: 0 40px;
}

.logo_image {
    position: relative;
    width: 100px;
    height: 100px;    
}

.container_nav {
    position: relative;
    padding: 0 40px;
    font-family: 'Martian Mono', monospace;

}

.nav {
    font-size: 15px;
    font-weight: 600;
    color: #cb8e39;
    text-decoration: none;
    text-transform: uppercase;
}

.container_account {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    width: 300px;
    height: 100px;
    padding-right: 20px;
}

.container_account img {
    height: 50px;
    width: 50px;
}

.nav_account {
    font-size: 15px;
    font-weight: 600;
    color: #cb8e39;
    text-decoration: none;
    text-transform: uppercase;
    padding: 0 10px;
    font-family: 'Martian Mono', monospace;
}
/* end header */


/* start main */
.container_main {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    color: #cb8e39;
    align-items: start;
    justify-items: center;
    padding: 50px 0;  
}

.main_title {
    grid-area: 1 / 1 / 2 / 2;
    justify-self: start;
    padding-left: 40px;
}

h1 {
    font-size: 45px;
}

.main_img {
    grid-area: 1 / 2 / 3 / 3;
}

.main_img_image {
    border-radius: 20px;
}

.main_info {
    grid-area: 2 / 1 / 3 / 2;
    justify-self: start;
    position: relative;
    line-height: 30px;
    padding: 0 60px;
    top: -200px;
}

/* end main */


/* start section */

.container_title {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.section_title {
    color: #cb8e39;
    font-size: 20px;
}

.container_section {
    display: flex;
    height: 100%;
    padding: 70px 20px;
    color: #cb8e39;
    flex-wrap: wrap;
    width: auto;
}

.section_body {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 200px;
    height: 360px;
    border: 4px solid #583919;
    border-radius: 10px; 
    margin-right: 20px;
    margin-left: 20px;
    
}

.section_body_image {
    position: relative;
    width: 100%;
    height: 60%;
    border-bottom: 4px solid #583919;
    border-radius: 5px 5px 0 0;                              
                  
}

.section_body_info {
    padding: 0 10px 10px;
    text-align: center;
    height: 40%;
}

.btn {
    background-color: black;
    ;
    color: #cb8e39;
    text-align: left;
    text-decoration: none;
    padding: 5px 25px;
    font-size: 16px;
    border-radius: 5px;
    margin: 15px;
}
/* end section */

/* start footer */
.container_footer {
    display: flex;
    justify-content: space-between;
    padding-top: 50px;
    padding: 0 20px;
    color: #cb8e39;
}

.footer_src {
    display: flex;
    align-items: center;
}

.nav {
    padding: 0 10px;
}

.nav_logo {
    position: relative;
    width: 25px;
    height: 25px;
}
/* end footer */