.body {
    margin: 0;
}

.main {
    height: 100%;
    width: 100%;
    color: black;
    background-color: white;
}

a {
    outline: none;
    text-decoration: none;
    color:black;
}

a:hover {
    color: blue;
    text-decoration: underline;
}

/* header start */
.header {
    display: flex;
    justify-content: space-around;
    padding: 64px 80px 30px;
}

.nav {
    display: flex;
    align-items: center;
    padding: 50px;
}

.nav_item {
    cursor: pointer;
    font-size: 24px;
}

.nav_item:not(:last-child) {
    margin-right: 250px;
}
/* header end */

.container {
    display: flex;
    flex-direction: column;
}


.card1 {
    display: flex;
    justify-content: space-around;
    align-items: stretch;
    padding: 50px 80px;

}

.card1_img {
    position: relative;
    padding: 50px;
}

.card1_info {
    position: relative;
    padding: 50px;
    font-size: 18px;
    font-weight: 500;
    height: 604px;
    text-align: center;
}

.card2 {
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-around;
    align-items: stretch;
    padding: 50px 80px;
}

.card2_img {
    position: relative;
    padding: 50px;
}

.card2_info {
    position: relative;
    padding: 50px;
    font-size: 18px;
    font-weight: 500;
    height: 604px;
    text-align: center;
}

/* footer start */
.footer {
    display: flex;
    justify-content: space-between;
    padding: 50px 80px;
}

.footer_info {
    font-size: 16px;
    font-weight: 500;
}

.navi {
    display: flex;
}

.navi_link {
    padding-right: 15px;
}
/* footer end */